.calendar-add{
    .title-box{
      overflow: hidden;
      height: 32px;
      margin-bottom: 10px;
      .left{
        float: left;
        font-size: 14px;
        font-weight: 700;
      }
    }

    padding: 0px 20px;
  }
  .select-box{
    overflow: hidden;
    .left-box{
      float: left;
      width: 50%
    }
    .right-box{
      float: left;
      width: 50%
    }
  }
  .pop-username{
    margin-right: 10px;
  }
  
  .demo-drawer-footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    text-align: right;
    background: #fff;
  }
  
  .cal-row {
    font-size: 16px;
    text-align: center;
    height: 42px;
    line-height: 42px;
  }

  .calw {
    background: #fff;
  }

  .calwb {
    background: #fff;
    display: inline-block;
  }

  .calr {
    background: rgba(255, 55, 55, 0.2);
    border-radius: 50%;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
  }

  .calb {
    background: rgba(74, 144, 226, 0.3);
    border-radius: 50%;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
  }

  .caly {
    background: rgba(245, 166, 35, 0.47);
    border-radius: 50%;
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
  }

    /* 修改滚动条样式 */
    div::-webkit-scrollbar{
      width: 6px;
      height: 10px;
    }
    div::-webkit-scrollbar-track{
      background:#D8D8D8;
      border-radius: 2px;
    }
    div::-webkit-scrollbar-thumb{
      background: #bfbfbf;
      border-radius: 10px;
    }
    div::-webkit-scrollbar-thumb:hover{
      background: #333;
    }
    div::-webkit-scrollbar-corner{
      background: #179a16;
    }
  
    * {
      scrollbar-color:#BFBFBFFF #D8D8D8; /* 滑块颜色  滚动条背景颜色 */
      scrollbar-width: thin; /* 滚动条宽度有三种：thin、auto、none */
    }
